h1{border-bottom-style:dotted ;color: cornflowerblue;}
img{float: left; height: 300px; width: 300px;}
#outResp2{font-style: italic; color: cyan;}
body{background-color: blueviolet;}
form{color:black}